TASK 1
Write a function called even_checker that takes a number as an argument and prints whether the number is even or odd inside the function.
===================================================================
Example 1:
Function Call:
even_checker(5)
Output:
Odd!!
===================================================================
Example2: 
Function Call:
even_checker(2)
Output:
Even!!

In [60]:
def even_checker(num):
    if num%2== 0:
        print("Even!!")
    else:
        print("Odd!!")     
        
num= int(input())
even_checker(num)

5
Odd!!

TASK 2
Write a python function that takes the limit as an argument of the Fibonacci series and prints till that limit. 
===================================================================
Function Call:
fibonacci(10)
Output:
0 1 1 2 3 5 8
===================================================================
Function Call:
fibonacci(5)
Output:
0 1 1 2 3 5

In [1]:
def fibonacci(num):    
    a = 0
    b = 1
    while(a <= num):
        print(a,end=" ")
        a,b = b,a + b
num= int(input())        
fibonacci(num)

10
0 1 1 2 3 5 8

TASK 3
Write a function called foo_moo that takes a number as an argument and returns the following statements according to the below mentioned conditions. Then, finally prints the statement in the function call. 
If the number is divisible by 2, it should return "Foo".
If the number is divisible by 3, it should return "Moo". 
If the number is divisible by both 2 and 3, it should return "FooMoo".
Otherwise, it returns "Boo".

Example1: 
Function Call:
foo_moo(5)
Output:
Boo
===================================================================
Example2: 
Function Call:
foo_moo(4)
Output:
Foo
===================================================================
Example3: 
Function Call:
foo_moo(6)
Output:
FooMoo

In [2]:
def foo_moo(num_1):
    result = ""
    if num_1%2== 0 and num_1%3!= 0:
        result = "Foo"
    elif num_1%3== 0 and num_1%2!= 0:
        result = "Moo"
    elif num_1%2== 0 and num_1%3== 0:
        result = "FooMoo"
    else:
        result = "Boo"
    return result
num_1 = int(input())
print(foo_moo(num_1))

6
FooMoo

TASK 4
Write a python function that takes a string as an argument. Your task is to calculate the number of uppercase letters and lowercase letters and print them in the function. 
===================================================================
Function Call:
function_name('The quick Sand Man')
Output:
No. of Uppercase characters : 3
No. of Lowercase Characters: 12
===================================================================
Function Call:
function_name('HaRRy PotteR')
Output:
No. of Uppercase characters : 5
No. of Lowercase Characters: 6

In [66]:
def function_name(str_1):
    counter_1 = 0
    counter_2 = 0

    for i in str_1:
        if 65<=ord(i)<=90:
#       if (i.isupper()) == True:
            counter_1+= 1
        elif 97<=ord(i)<=122:
#         elif (i.islower()) == True:
            counter_2+= 1
    print("No. of Uppercase characters : ", counter_1)
    print("No. of Lowercase characters: ", counter_2)
str_1 = input()    
function_name(str_1)

'The quick Sand Man'
No. of Uppercase characters :  3
No. of Lowercase characters:  12

Task 5
Write a function called calculate_tax that takes 3 arguments: your age, salary, and current job designation.
Your first task is to take these arguments as user input and pass these values to the function.
Your second task is to implement the function and calculate the tax as the following conditions:
NO TAX IF YOU ARE LESS THAN 18 YEARS OLD.
NO TAX IF YOU ARE THE PRESIDENT OF THE COMPANY 
No tax if you get paid less than 10,000
5% tax if you get paid between 10K and 20K
10% tax if you get paid more than 20K
Finally return this tax value. Then print the returned value in the function call.

Hints:
Here the job designation is a string, so it can be written in both uppercase and lower cases. So, you need to check the value ignoring the case.
===================================================================
Example1: 
Input:
16
20000
Student
Function Call:
calculate_tax(16, 20000, 'Student')
Output:
0
===================================================================
Example2: 
Input:
20
18000
assistant manager
Function Call:
calculate_tax(20, 18000, 'assistant manager')
Output:
900.0
===================================================================
Example3: 
Input:
20
22000
assistant manager
Function Call:
calculate_tax(20, 22000, 'Assistant manager')
Output:
2200.0
===================================================================
Example4: 
Input:
20
122000
president
Function Call:
calculate_tax(20, 122000, 'president')
Output:
0

In [43]:
def calculate_tax(age, salary, current_job):
    result = 0
    if age<18 or salary<10000 or current_job == "president":
        result = 0
    elif 10000<=salary<=20000:
        result = (salary*5)/100
    elif salary>20000:
        result = (salary*10)/100
    return result    

age = int(input())
salary = int(input())
current_job = input().lower()
print(calculate_tax(age, salary, current_job))

20
122000
president
0

TASK 6
Write a function which will take 1 argument, number of days.
Your first task is to take the number of days as user input and pass the value to the function.
Your second task is to implement the function and calculate the total number of years, number of months, and the remaining number of days as output. No need to return any value, print inside the function. 

Note: Assume, each year to be 365 days and month to be 30 days.
Hint(1): Divide and mod the main input to get the desired output.
Hint(2): This task’s calculation is similar to Assignment-1’s seconds to hours, minutes conversion.

Example01
Input:
4330
Function Call:
function_name(4330)
Output:
11 years, 10 months and 15 days
===================================================================
Example02
Input:
2250
Function Call:
function_name(2250)
Output:
6 years, 2 months and 0 days

In [42]:
def function_name(days):
    years= days//365                   
    days= days%365    
    months= days//30  
    days= days%30
    print(years, "years,", months, "months and", days, "days")
    
days= int(input("Number of days: "))   
function_name(days)

Number of days: 2250
6 years, 2 months and 0 days

Task 7
Write a function called show_palindrome that takes a number as an argument and then returns a palindrome string. Finally, prints the returned value in the function call.

Example1: 
Function Call:
show_palindrome(5)
Output:
123454321
===================================================================
Example2: 
Function Call:
show_palindrome(3)
Output:
12321

In [3]:
def show_palindrome(num_1):
    result_1 = ""
    for i in range(1, num_1):
        result_1 += str(i)
    for i in range(num_1, 0, -1):
        result_1 += str(i)
    return result_1

num_1 = int(input())
print(show_palindrome(num_1))

5
123454321

Task 8
Write a function called show_palindromic_triangle that takes a number as an argument and prints a Palindromic Triangle in the function.
[Must reuse the show_palindrome() function of the previous task]
===================================================================
Hints(1): 
Need to use both print() and print( , end = " ") functions
===================================================================
Example1: 
Function Call:
show_palindromic_triangle(5)
Output:
         1
      1  2  1 
    1  2  3  2  1 
  1  2  3  4  3  2  1 
1  2  3  4  5  4  3  2  1
===================================================================
Example2: 
Function Call:
show_palindromic_triangle(3)
Output:
      1 
   1  2  1 
1  2  3  2  1

In [45]:
#type-1
def show_palindromic_triangle(num_1):
    for i in range(1,num_1+1):
        for j in range(num_1-i):
            print(" ", end= " ")
            
        def show_palindrome(num_1):
            for i in range(num_1):
                print(i+1, end= " ")
            for i in range(num_1,1,-1):
                print(i-1, end= " ")
        show_palindrome(i)
        print()
num_1= int(input())        
show_palindromic_triangle(num_1)    

#type-2
def show_palindrome(num_1):
    result_1 = ""
    for i in range(1, num_1):
        result_1 += str(i)+ " "
    for i in range(num_1, 0, -1):
        result_1 += str(i)+ " "
    return result_1

def show_palindrome_triangle(num_1):
    str_1= show_palindrome(num_1)
    str_2= ""
    str_3= ""
    str_4= ""
    str_5= ""
    seen= []
    counter= 0
    for i in str_1:
        if i== " ":
            counter+= 1
    for i in str_1:
        if i== " ":
            if str_4 in seen:
                break
            else:
                seen.append(str_4)
                str_3= str_4+ " "+ str_3
                str_5= str_3[2:].lstrip()
                str_4= ""
                str_2+= i
                print(" "*(counter-1)+ str_2+ str_5)
                counter-= 2
        else:
            str_2+= i
            str_4+= i
num_1= int(input())
show_palindrome_triangle(num_1)

5
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
8
              1
            1 2 1
          1 2 3 2 1
        1 2 3 4 3 2 1
      1 2 3 4 5 4 3 2 1
    1 2 3 4 5 6 5 4 3 2 1
  1 2 3 4 5 6 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 7 6 5 4 3 2 1

Task 9
Write a function called area_circumference_generator that takes a radius of a circle as a function parameter and calculates its circumference and area. Then returns these two results as a tuple and prints the results using tuple unpacking in the function call according to the given format. 
[Must use tuple packing & unpacking] 
===================================================================
Example1: 
Function Call:
area_circumference_generator(1)
Output:
(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

Example2: 
Function Call:
area_circumference_generator(1.5)
Output:
(7.0685834705770345, 9.42477796076938)
Area of the circle is 7.0685834705770345 and circumference is 9.42477796076938
===================================================================
Example3: 
Function Call:
area_circumference_generator(2.5)
Output:
(19.634954084936208, 15.707963267948966)
Area of the circle is 19.634954084936208 and circumference is 15.707963267948966

In [1]:
import math

def area_circumference_generator(radius):
    tuple_1 = ()
    area = math.pi*radius**2
    perimeter = 2*math.pi*radius
#     tuple_1= area, perimeter
    return area, perimeter

radius = float(input("Enter radius of circle: "))
area, perimeter= area_circumference_generator(radius)
print(area_circumference_generator(radius))
print("Area of the circle is", area, "and circumference is", perimeter)

Enter radius of circle: 555
(967689.077121996, 3487.1678454846706)
Area of the circle is 967689.077121996 and circumference is 3487.1678454846706

Task 10
Write a function called make_square that takes a tuple in the parameter as a range of numbers (starting point and ending point (included)). The function should return a dictionary with the numbers as keys and its squares as values.
===================================================================
Hints: 
You need to declare a dictionary to store the result. You should use the range function to run the “for loop”.
===================================================================
Example1: 
Function Call:
make_square((1,3))
Output:
{1: 1, 2: 4, 3: 9}
===================================================================
Example2: 
Function Call:
make_square((5,9))
Output:
{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [30]:
def make_square(tuple_1):
    dict_1 = {}
    for i in range(int(tuple_1[0]), int(tuple_1[1])+1):
        dict_1[i] = int(i)**2
    return dict_1

tuple_1 = tuple((input())[1:-1].split(","))
print(make_square(tuple_1))

(1,3)
{1: 1, 2: 4, 3: 9}

Task 11
Write a function called rem_duplicate that takes a tuple in the parameter and return a tuple removing all the duplicate values. Then print the returned tuple in the function call.
[Cannot use remove() or removed() for this task] 
===================================================================
Hints: 
Unlike lists, tuples are immutable, so the tuple taken as an argument cannot be modified. But the list can be modified and lastly for returning the result use type conversion. You need to use membership operators (in, not in) for preventing adding any duplicates values.
===================================================================
Example1: 
Function Call:
rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))
Output:
(1, 2, 3, 4, 5, 6, 0)
===================================================================
Example2: 
Function Call:
rem_duplicate(("Hi", 1, 2, 3, 3, "Hi", 'a', 'a', [1,2]))
Output:
('Hi', 1, 2, 3, 'a', [1, 2])

In [2]:
def rem_duplicate(tuple_1):
    list_1= []
    for i in tuple_1:
        if i not in list_1:
            list_1.append(i)
    tuple_2= tuple(list_1)     
    return tuple_2

print(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi", 'a', 'a', [1,2])))
print(rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0)))

('Hi', 1, 2, 3, 'a', [1, 2])
(1, 2, 3, 4, 5, 6, 0)

Task 12
Write a python function that takes a list as an argument. Your task is to create a new list where each element can be present at max 2 times. Inside the function, print the number of elements removed from the given list. Finally, return the new list and print the result.
=====================================================
Hint: You may use list_name.count(element) to count the total number of times an element is in a list. list_name is your new list for this problem.
=====================================================
Function Call:
function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])
Output:
Removed: 2
[1, 2, 3, 3, 4, 5, 8, 8]
================================
Function Call:
function_name([10, 10, 15, 15, 20])
Output:
Removed: 0
[10, 10, 15, 15, 20]

In [4]:

def function_name(list_1):
    rem= 0
    list_2= []
    for i in list_1:
        j=0
        for list_1 in list_2:
            if list_1== int(i):
                j+= 1
        if j<2:
            list_2.append(int((i)))
        else:
            rem+= 1
    print("Removed:",rem)
    return list_2

list_1 = input()[1:-1].split(", ")
print(function_name(list_1))

[1, 2, 3, 3, 3, 3, 4, 5, 8, 8]
removed: 4
['1', '2', '3', '4', '5', '8']

Task 13
Write a python function that will perform the basic calculation (addition, subtraction, multiplication and division) based on 3 arguments. They are:
Operator ('+', '-', '/', '*')
First Operand (any number)
Second Operand (any number)
Your first task is to take these arguments as user input and pass the values to the function parameters.
Your second task is to write a function and perform the calculation based on the given operator. Then, finally return the result in the function call and print the result.
=====================================================
Input:
"+"
10
20
Function Call:
function_name("+", 10, 20)
Output:
30.0
================================
Input:
"*"
5.5
2.5
Function Call:
function_name("*", 5.5, 2.5)
Output:
13.75

In [5]:
def calculate(operator, first_operand, second_operand):
    result = 0
    if(operator=="+"):
        result = first_operand + second_operand
    elif(operator=="-"):
        result = first_operand - second_operand
    elif(operator=="*"):
        result = first_operand * second_operand
    elif(operator=="/"):
        result = first_operand / second_operand
#     else:
# #         result=0
    return result

operator = input("Please choose a valid operator ('+', '-', '/', '*'): ")
first_operand = float(input("Enter first a number: "))
second_operand = float(input("Enter second operator: "))
print(calculate(operator, first_operand, second_operand))

Please choose a valid operator ('+', '-', '/', '*'): l
Enter first a number: 5
Enter second operator: 4
0

Task 14
Write a function which will take 2 arguments. They are:
Sentence 
Position 
Your first task is to take these arguments as user input and pass these values to the function parameters.
Your second task is to implement the function and remove the characters at the index number which is divisible by the position (Avoid the index number 0 as it will always be divisible by the position, so no need to remove the index 0 character). Finally, add the removed characters at the end of the new string.
Return the value and then finally, print the new string at the function call.
[Cannot use remove() or removed() for this task] 
Input:
"I love programming."
3
Function call:
function_name("I love programming.", 3)
Output:
I lveprgrmmngo oai.
===================================================================
Input:
"Python is easy to learn. I love python."
6
Function call:
function_name("Python is easy to learn. I love python.", 6)
Output:
Pythonis eay to earn.I lov pythn. sl eo

In [3]:
def function_name(sentence, position):
    str_1 = ""
    str_2 = ""  
    for i in range(1, len(sentence)):
        if i%position != 0:
            str_1+= sentence[i]
        else:
            str_2+= sentence[i]  
    return  sentence[0]+ str_1+ str_2

sentence = input()
position = int(input())
print(function_name(sentence, position))

I love programming
3
I lveprgrmmngo oai

Task 15
You have been hired as an app developer for the company. The company plans to make an app for a grocery store where the user can order groceries and see the total amount to be paid in the cart section. 

To build this feature, you have to write a function that takes 2 arguments. They are:
order_items (must be a list)
location (default value should be set to "Dhanmondi")

Your first task is to take a list of items from the user. Pass the list into the function parameter along with the optional location (Use default argument technique). (Also, no need to take location as input, pass this any value you want.) 

Your second task is to implement the function. In the function, create a dictionary for the items shown in the table. Calculate the total price of the items passed as a list to the function. Additionally, add a delivery fee of 30 taka if the location is Dhanmondi. Otherwise, add a delivery fee of 70 taka. Finally, return the value and print it.
Item
Price(Tk)
Rice
105
Potato
20
Chicken
250
Beef
510
Oil
85

Hint: The keys are the items and values are the corresponding price. Iterate the items in the list and check if the items in the list are available in the dictionary keys or not. If it is available, add the price.
===================================================================
Example1:
function_name(["Rice", "Beef", "Rice"], "Mohakhali")
total = 105 + 510 + 105 = 720 (Take the price of each item and add them.)
total = 720 + 70 = 790 (Finally, add the delivery fee based on the location.)
Input:
["Rice", "Beef", "Rice"]
Function Call:
function_name(["Rice", "Beef", "Rice"], "Mohakhali")
Output:
790
===================================================================
Example2:
function_name(["Rice", "Beef", "Rice"])
total = 105 + 510 + 105 = 720 (Take the price of each item and add them.)
total = 720 + 30 = 750 (Since no location is passed in the parameter, it will use the default location-"Dhanmondi". For Dhanmondi, delivery fee of 30 taka)
Input:
["Rice", "Beef", "Rice"]
Function Call:
function_name(["Rice", "Beef", "Rice"])
Output:
750

In [57]:
def function_name(list_1, location="Dhanmondi"):
    dict_1= {'Rice': 105,'Potato': 20,'Chicken': 250,'Beef': 510,'Oil': 85}
    
    if location== "Dhanmondi":
        deleivery_fees= 30
    else:
        deleivery_fees= 70
    total= deleivery_fees
    for i in list_1:
        for j in dict_1:
            if i[1:-1]== j:
                total+= dict_1[j]
    return total

list_1 = input()[1:-1].split(", ")
print(function_name(list_1, "Mohakhali"))

["Rice", "Beef", "Rice"]
790

In [1]:
#TASK 16
x = 0
y = 0
sum = 0
p = 0.0
while (x < 9):
    y = x/2
    print("y", y)
    while (y<x):
        p = (x + 5.0)/ 2
        print("p", p)
        sum = sum+2 + x + y*2 + int(p)
        print("sum", sum)
        y=y+1
        print("y", y)
    x = x+2
    print("x", x)
    if (x>5):
        sum = 2
        print("sum", sum)
    else:
        sum += 3
        print("sum", sum)

y 0.0
x 2
sum 3
y 1.0
p 3.5
sum 12.0
y 2.0
x 4
sum 15.0
y 2.0
p 4.5
sum 29.0
y 3.0
p 4.5
sum 45.0
y 4.0
x 6
sum 2
y 3.0
p 5.5
sum 21.0
y 4.0
p 5.5
sum 42.0
y 5.0
p 5.5
sum 65.0
y 6.0
x 8
sum 2
y 4.0
p 6.5
sum 26.0
y 5.0
p 6.5
sum 52.0
y 6.0
p 6.5
sum 80.0
y 7.0
p 6.5
sum 110.0
y 8.0
x 10
sum 2

In [3]:
#TASK 17
x = 0
y = 0
sum = 0
while (x < 10):
    y = x - 3
#     print("y", y)
    y = 40
# z
    while (y > 22):
        if ((sum > 30) and (sum < 40)):
            sum = sum + x * 2
#             print("sum", sum)
        elif((sum > 40) and (sum < 50)):
            sum = sum + x * 3
#             print("sum", sum)   
        else:
            sum = sum + 23
#             print("sum", sum)
        print("sum",sum)
        y = y - 10
#         print("y", y)
    x += 2
#     print("x", x)

sum 23
sum 46
sum 52
sum 75
sum 98
sum 121
sum 144
sum 167
sum 190
sum 213

In [7]:
# TASK 11 using user input
# def rem_duplicate(items):
#     counter = 0
#     str_1 = ""
#     list_1=[]
#     for i in items:
#         if i not in list_1:
#             if len(i) ==1 and 48<=ord(i)<=57 and counter ==0:
#                 list_1.append(int(i))
#             elif (chr(34) == i[0] and chr(34) == i[-1]) or (chr(39) == i[0] and chr(39) == i[-1]):    
#                     i = i[1:-1]
#                     list_1.append(i)
#             elif i[0] == "[" and i[-1]!= "]":
#                 str_1+= i
#                 counter+= 1
#             elif counter == 1 and i[-1]!= "]":
#                 str_1= str_1+ ", "+ i
#             elif i[-1] == "]":
#                 str_1= str_1+ ", "+ i
#                 list_1.append(str_1)
#                 counter = 0
#             else:    
#                 list_1.append(i)
#     return tuple(list_1)
  
# tuple_1= tuple((input().replace(" ", "")).split(","))
# items= rem_duplicate(tuple_1)
# print(items)
print(4/2)

2.0

In [4]:
#TASK 18
x = y = 0
sum = 0
while (x < 10):
    y = x - 3
    while (y < 3):
        sum = x - y * 2 
        print(sum)
        y = y + 1
    if (x > 7): 
        x += 1
    else: 
        x += 3
sum = x - y * 2
print(sum)

6
4
2
0
-2
-4
3
1
-1
-2

In [3]:
#TASK 19
x = 0
p = 0
sum = 0
p = 1
x = 2
q = 0.0
sum = 0
while (p < 12):
    q = x + p - (sum + int(5 / 3)) / 3.0 % 2
    sum = sum + x + int(q)
#     print("X",x, "p",p, "q", q)
    x+=1
    print(sum)
    if (x > 5):
        p += int(4 / 2)
    else:
        p += 3 % 1
sum = sum + p
print(sum)

4
9
16
25
39
56
78
104
134
147

Task 23
Write a function called splitting_money that takes an “amount” of money as an argument.
Your first task is to take the “amount” of money as user input and pass the value to the function parameter.
Your second task is to implement the function and calculate how that money can be split into 500, 100, 50, 20, 10, 5, 2, and 1 taka notes.
Then print the returned value in the function call.
===================================================================
Hints: 
This task’s calculation is similar to Assignment-1’s seconds to hours, minutes conversion. To return the result containing multiple strings, you need to store it in a variable and return it at the end of the function.
===================================================================
Example1: 
If the money is 1234, then the function should return 
"500 Taka: 2 note(s) 
100 Taka: 2 note(s) 
20 Taka: 1 note(s) 
10 Taka: 1 note(s) 
2 Taka: 2 note(s)"
=====================================================
Example2: 
If the money is 151, then the function should return
"100 Taka: 1 note(s)
50 Taka: 1 note(s)
1 Taka: 1 note(s)"

In [50]:
def splitting_money(amount):
    r = amount
    str_1 = chr(34)
    dict_1 = {}
    counter= 0
    for i in [500,100,50,20,10,5,2,1]:
        j= r//i
        if j!= 0:
            r= r%i
        if j!= 0:    
            dict_1[i]= j
            
    for i,j in dict_1.items():
        if counter!= (len(list(dict_1))-1):
            str_1+= f"{i} Taka: {j} note(s)\n"
        else:
            str_1+= f"{i} Taka: {j} note(s)"+ chr(34)
        counter+= 1       
    return str_1

amount = int(input("Enter a amount : "))
str_1 = splitting_money(amount)
# l=' '.join([f'{k} Taka: {v} note(s)' for k,v in answer.items() if v > 0])
# print(l)
print(str_1)

Enter a amount : 151
"100 Taka: 1 note(s)
50 Taka: 1 note(s)
1 Taka: 1 note(s)"

Task 24
Write a function called remove_odd that takes a list of numbers that have both even and odd numbers mixed. 
Your function should remove all the odd numbers and return a compact list which only contains the even numbers. 
[Cannot use remove() or removed() for this task] 
===================================================================
Example1: 
Function Call:
remove_odd ([21, 33, 44, 66, 11, 1, 88, 45, 10, 9])
Output:
[44, 66, 88, 10]
Example2: 
Function Call:
remove_odd ([11,2,3,4,5,2,0,5,3])
Output:
[2, 4, 2, 0]

In [54]:
def remove_odd(list_1):
    list_2= []
    for i in list_1:
        if int(i)%2== 0:
            list_2.append(int(i))
    return list_2
    
list_1= input()[1:-1].split(", ")
remove_odd(list_1)

[21, 33, 44, 66, 11, 1, 88, 45, 10, 9]

[44, 66, 88, 10]

Task 25
Write a function which will take 4 arguments. They are:
starting value(inclusive)
ending value(exclusive)
first divisor
second divisor
Your first task is to take these arguments as user input and pass these values to the function.
Your second task is to implement the function and find all the numbers that are divisible by the first divisor or second divisor but not both from the starting value(inclusive) and ending value(exclusive). Add all the numbers that are divisible and finally return this value. Print the returned value in the function call.
=====================================================
Input:
10
40
4
7
Function Call:
function_name(10, 40, 4, 7)
Output:
210
================================
Input:
5
100
3
4
Function Call:
function_name(5, 100, 3, 4)
Output:
2012

In [61]:
def my_function(num_1, num_2, div_1, div_2): 
    sum= 0
    for i in range(num_1,num_2):
        if (i%div_1== 0 or i%div_2== 0) and not (i%div_1== 0 and i%div_2== 0):
            sum+= i
    return sum           

num_1= int(input())
num_2= int(input())
div_1= int(input())
div_2= int(input())
print(my_function(num_1, num_2, div_1, div_2))

5
100
3
4
2012

Task 26
Write a python function which will take a string as an argument. 

Your first task is to take a string as user input and pass the value to the function.
Your second task is to implement a function which will check whether all the alphabets from a to j (convert all the alphabets to lowercase) have appeared at least once in the given string or not. 

If all of these alphabets (a to j) appear at least once, then the result will be 5. 
If any one of the alphabets (a to j) is not in the given string, then the result will be 6.

Return this result and print the statement, "PSG will win the Champions League this season" that many times.
===================================================================
Example01: "A black jackal is hunting a full grown deer" 
Here all the alphabets from A to J are present at least once. So, the function will return 5 and will print the statement 5 times.
Input:
"A black jackal is hunting a full grown deer"
Function Call:
function_name("A black jackal is hunting a full grown deer")
Output:
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
===================================================================
Example02:
Input:
"ABBCDEFEFGHI"
Function Call:
function_name("ABBCDEFEFGHI")
Output:
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season

In [15]:
def my_function(str_1):
    str_2= ""
    counter= 0
    result= 5
    for i in str_1:
        if ord("a")<=ord(i)<=ord("j"):
            if i not in str_2:
                str_2+= i
                counter+= 1
    if counter!= 10:
        result= 6
    return result
        
str_1= input().lower()    
print("PSG will win the Champions League this season \n"*my_function(str_1))

"A black jackal is hunting a full grown deer"
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season

Task 27/28
Write a function called individul_bonus_calculation which will take 4 arguments. They are:
The player name
Yearly earning of that player
The total goal scored this season by that player
Bonus percent per goal.

Your task is to implement the above-mentioned function that will calculate the total bonus on the yearly earnings of a player for the total goals he has scored.
Additionally, 
If the goal scored is above 30, add a (additional) bonus of 10000 taka.
If it is between 20 and 30 inclusive, add an extra 5000 taka.

[ For this task, there is no need to take any input from the user. Call the functions and print the values inside the function.] 
===================================================================
Example1:
individul_bonus_calculation("Neymar", 1200000, 35, 5)
bonus = 35 * (5 / 100 * 1200000) + 10000 = 2110000
Function call:
individul_bonus_calculation("Neymar", 1200000, 35, 5)
Output:
Neymar earned a bonus of 2110000 Taka for 35 goals.
===================================================================
Example2:
individul_bonus_calculation('Jamal', 700000, 19, 8)
bonus = 19 * (8 / 100 * 700000) + 0 = 1064000
Function call:
individul_bonus_calculation('Jamal', 700000, 19, 8)
Output:
Jamal earned a bonus of 1064000 Taka for 19 goals.
===================================================================
Example3:
individul_bonus_calculation('Luis', 80000, 25, 10)
bonus = 25 * (10 / 100 * 80000) + 5000 = 205000
Function call:
individul_bonus_calculation('Luis', 80000, 25, 10)
Output:
Luis earned a bonus of 205000 Taka for 25 goals.

In [2]:
def individul_bonus_calculation(name, salary, goal, bonus):
    if goal>30:
        total_bonus = goal* (bonus/ 100 * salary) + 10000
    elif 20<=goal<=30:
        total_bonus = goal* (bonus/ 100 * salary) + 5000
    else:
        total_bonus = goal* (bonus/ 100 * salary)    
    print(name, "earned a bonus of", total_bonus, "Taka for", goal, "goals.")    
#     return int(total_bonus)    

# name= input()
# salary= int(input())
# goal= int(input())
# bonus= int(input())
individul_bonus_calculation("Neymar", 1200000, 35, 5)
individul_bonus_calculation('Jamal', 700000, 19, 8)
individul_bonus_calculation('Luis', 80000, 25, 10)

Neymar earned a bonus of 2110000.0 Taka for 35 goals.
Jamal earned a bonus of 1064000.0 Taka for 19 goals.
Luis earned a bonus of 205000.0 Taka for 25 goals.

In [9]:
#TASK 20
i = 2
j = 0
k = 17
test = "-->dog"
while i < 7:
    k-=1
    j = k
    while j > 12:
        if (j % 2 == 0):
            test += "<--"
            test = test + str(i) + str(j // 2)
        else:
            test += "-->"
            test = test + str(i // 2) + str(j) 
        print(test)
        j-=1
    i+=1

-->dog<--28
-->dog<--28-->115
-->dog<--28-->115<--27
-->dog<--28-->115<--27-->113
-->dog<--28-->115<--27-->113-->115
-->dog<--28-->115<--27-->113-->115<--37
-->dog<--28-->115<--27-->113-->115<--37-->113
-->dog<--28-->115<--27-->113-->115<--37-->113<--47
-->dog<--28-->115<--27-->113-->115<--37-->113<--47-->213
-->dog<--28-->115<--27-->113-->115<--37-->113<--47-->213-->213

In [6]:
#TASK 21
test = ""
print(test)
i = 5
j = 0
k = 15
while (i< 10): 
    k-=1
    j = k
    while (j > 10 ):
        if j % 2 == 0:
            test = "<--"
            test = test + str(i) + '3' + "-->" + str(j // 3)
        else:
            test = "-->"
            test = "-->" + str((i // 3)) + test + str(j)
        print(test)
        j -=1
    i+=1

<--53-->4
-->1-->13
<--53-->4
-->1-->11
-->2-->13
<--63-->4
-->2-->11
<--73-->4
-->2-->11
-->2-->11

In [8]:
#TASK 22
i = 10
while(i >= -20):
    if(i < 0):
        test = " != "
        test = str(i//2) + test + str(int(i/2))
    else:
        test = " == "
        test = str(i//2) + test + str(int(i/2))
    print(test)
    i -= 5

5 == 5
2 == 2
0 == 0
-3 != -2
-5 != -5
-8 != -7
-10 != -10

In [1]:
# #TASK 8
# def show_palindrome(num_1):
#     result_1 = ""
#     for i in range(1, num_1):
#         result_1 += str(i)
#     for i in range(num_1, 0, -1):
#         result_1 += str(i)
#     return result_1

# def show_palindromic_triangle():
#     num_1 = int(input())
#     str_1= show_palindrome(num_1)
#     result_2= ""
#     for i in str_1:
#         result_2+= i+ " "
#     str_2= ""
#     str_3= ""
#     str_4= ""
#     seen= []
#     counter= len(show_palindrome(num_1))+1
#     for i in result_2:
#         if i== " ":
#             if str_4 in seen:
#                 break
#             else:                
#                 seen.append(str_4)
#                 str_4= ""
#                 counter-= 2                
#                 str_2+= i
#                 str_3= str_2[-4::-1]
#                 print(" "*counter+ str_2+ str_3)
#         else:  
#             str_2+= i
#             str_4+= i
# #         print(seen)     
# #             if i not in seen:
# #                 str_2+= i
# #                 if i!= " ":
# #                     str_4+= i

# #             else:     
# #                 break 
# #         print(seen)     
# show_palindromic_triangle()      

# #                 str_3= " "+ str_2[-3::-1]
# #                 seen+= i
# #                 counter-= 2
# #                 print(" "*counter+ str_2+ str_3)

In [60]:
# def show_palindrome(num_1):
#     result_1 = ""
#     for i in range(1, num_1):
#         result_1 += str(i)+ " "
#     for i in range(num_1, 0, -1):
#         result_1 += str(i)+ " "
#     return result_1

# def show_palindrome_triangle(num_1):
#     num_1= int(input())
#     str_1= show_palindrome(num_1)
# show_palindrome_triangle(num_1)
# show_palindrome(num_1)    
# def show_palindromic_triangle(num_1):
#     for i in range(1,num_1+1):
#         space
#     num_1 = int(input())
#     str_1= show_palindrome(num_1)
#     result_2= ""
#     for i in str_1:
#         result_2+= i+ " "
#     print(result_2)    
# show_palindromic_triangle()

4

'1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 '

In [61]:
# def show_palindrome(num_1):
#     result_1 = ""
#     for i in range(1, num_1):
#         result_1 += str(i)+ " "
#     for i in range(num_1, 0, -1):
#         result_1 += str(i)+ " "
#     return result_1

# def show_palindrome_triangle(num_1):
#     str_1= show_palindrome(num_1)
    
#     print(show_palindrome(num_1))

# num_1= int(input())
# show_palindrome_triangle(num_1)

5
1 2 3 4 5 4 3 2 1

In [15]:
num= int(input())
def show_palindrome_triangle(p):
    for i in range(p):
        for j in range(p-i):
            print(" ", end= " ")
        for j in range(i+1):
            print(j+1, end= " ")
        for j in range(i, 0, -1):
            print(j, end= " ")
        print()
show_palindrome_triangle(num-1)
def show_palindrome(p):
    for i in range(1, p+1):
        print(i, end= " ")
    for i in range(p-1, 0, -1):
        print(i, end= " ")
show_palindrome(num)

5
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

Write a Python function that takes a string as parameter and return a modified string where the vowels in the odd index positions are removed.

Function Call 1: modify("Legolas")
Sample Output 1: Lgls
Explanation: In the input string, the vowels ‘e’, ‘o’, and ‘a’ are in the index 1, 3 & 5 respectively, which are absent from the final output.

Function Call 2: modify("The Joker")
Sample Output 2: The Jkr
Explanation: In the input string, the vowels ‘e’, ‘o’, and ‘e’ are in the index 2, 5 & 7 respectively, but only the ‘o’ and the second ‘e’ are absent from the final output.

Function Call 3: modify("Groot")
Sample Output 3: Grot
Explanation: In the input string, the vowels two ‘o’s are in the index 2 & 3 respectively, but only the second ‘o’ is absent from the final output.

In [41]:
def modify(str_1):
    str_2= ""
    v= ["a", "e", "i", "o", "u", "A", "E", "I", "O", "U"]
    for i in range(len(str_1)):
        if i%2!= 0 and str_1[i] in v:
            continue
        else:
            str_2+= str_1[i]
    return str_2        
    
print(modify("Legolas"))
print(modify("Groot"))
print(modify("The Joker"))

Lgls
Grot
The Jkr

Suppose, you are given the following dictionary. [No need to take user input, but your program should work for similar dictionaries like this.]
my_dict = {'Alex': ['Carl', 'Ethan'], 'Bob': ['Carl', 'David'], 'Carl': ['David', 'Alex'], 'David': ['Alex']}
In this dictionary, each key indicates a person who will receive presents and corresponding value indicates the list of people from whom he/she will receive the presents. For example, Alex will receive gifts from Carl and Ethan, Bob will receive from Carl and David and so on.
Your task is to pass this dictionary in a function and return a dictionary where the givers will be the keys and the list of people receiving gifts from him/her will be the values corresponding to those keys.

Function Call: my_function(my_dict)
Sample output:
{'Carl': ['Alex', 'Bob'], 'Ethan': ['Alex'], 'David': ['Bob', 'Carl'], 'Alex': ['Carl', 'David']}

Explanation: We can see that Carl will give gifts to Alex and Bob. So the value corresponding to the key Carl will be a list containing both Alex and Bob. Similarly, all the other keys are handled.

In [40]:
def my_function(dict_1):
    dict_2= {}
    
    for i,j in dict_1.items():
        for k in j:
            if k not in dict_2:
                dict_2[k]= [i] 
            else:
                dict_2[k].append(i)
    return dict_2

my_dict = {'Alex': ['Carl', 'Ethan'], 'Bob': ['Carl', 'David'], 'Carl': ['David', 'Alex'], 'David': ['Alex']}
print(my_function(my_dict))

{'Carl': ['Alex', 'Bob'], 'Ethan': ['Alex'], 'David': ['Bob', 'Carl'], 'Alex': ['Carl', 'David']}

In [21]:
str_1= "dfdf"
print(list(str_1))

['d', 'f', 'd', 'f']